name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    name: Build and test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - elixir: '1.8'
            otp: '20'
          - elixir: '1.8'
            otp: '21'
          - elixir: '1.9'
            otp: '21'
          - elixir: '1.9'
            otp: '22'
          - elixir: '1.10'
            otp: '21.0'
          - elixir: '1.10'
            otp: '22.0'
          - elixir: '1.11'
            otp: '23.0'

    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Restore dependencies cache
        uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-

      - run: mix deps.get
      - run: mix test
      - run: MIX_ENV=docs mix deps.get
      - run: MIX_ENV=docs mix inch.report
